<%# ------------------------------------------------------------------------- %>
<%#  BookBox – COM214 Final Project (Spring 2025)                             %>
<%#  Author contributions:                                                    %>
<%#    Cam Bayusik      – Lending modal & loan banner                          %>
<%#    Liana Bourdon   – Task lists, navbar tweaks                            %>
<%#    Annabelle Calvin – Book cards, genre filter                             %>
<%# ------------------------------------------------------------------------- %>



<p style="color: green"><%= notice %></p>

<%= render @genre %>

<div>
  <%= link_to "Edit this genre", edit_genre_path(@genre) %> |
  <%= link_to "Back to genres", genres_path %>

  <%= button_to "Destroy this genre", @genre, method: :delete %>
</div>
