<%# ------------------------------------------------------------------------- %>
<%#  BookBox – COM214 Final Project (Spring 2025)                             %>
<%#  Author contributions:                                                    %>
<%#    Cam Bayusik      – Lending modal & loan banner                          %>
<%#    Liana Bourdon   – Task lists, navbar tweaks                            %>
<%#    Annabelle Calvin – Book cards, genre filter                             %>
<%# ------------------------------------------------------------------------- %>

<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre_id %>
  </p>

  <p>
    <strong>Published year:</strong>
    <%= book.published_year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

</div>
